@import url('https://fonts.cdnfonts.com/css/gt-walsheim-trial');
@import "tailwindcss";



.hamburger-icon {
  display: none;
}

@media (max-width: 1186px) {
  .hamburger-icon {
    display: block !important;
  }
}

.desktop-menu {
  display: flex !important;
}

/* DESKTOP ACTION BUTTONS SHOW ABOVE 1186px */
.desktop-actions {
  display: flex !important;
}

/* HIDE BOTH BELOW 1186px */
@media (max-width: 1186px) {
  .desktop-menu,
  .desktop-actions {
    display: none !important;
  }
}

